@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}
::placeholder {
  font-size: 16px !important;
  font-family: "Open Sans", sans-serif;
}
.card-body {
  padding: 0;
}

.question-enrollment textarea {
  resize: vertical;
  font-family: "Open Sans", sans-serif;
  font-size: 16px !important;
}

.mb_40 {
  margin-bottom: 40px;
}
.mb_30 {
  margin-bottom: 30px;
}
.mb_20 {
  margin-bottom: 20px;
}
.mtb_10 {
  margin: 10px auto;
}
.mb_0 {
  margin-bottom: 0px;
}

.question-enrollment ul {
  padding: 0;
  margin: 0;
}
.question-enrollment {
  width: 100%;
  max-width: 1240px;
  display: block;
  margin: 0 auto;
  padding: 30px 20px;
  background: #207ac7;
}
.question-enrollment table tr td {
  color: #000;
}

.question-enrollment header {
  background: #fff;
}
.question-enrollment header .logo {
  margin: 0 auto;
  text-align: center;
  display: block;
  padding: 20px 0px 0px;
}
.question-enrollment header .logo img {
  width: 100%;
  max-width: 400px;
}

.question-enrollment header .flex-div {
  align-items: center;
}
.question-enrollment header .col-item h1 {
  font-size: 28px;
  text-align: center;
  color: #207ac7;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
}
.question-enrollment header .col-item:nth-child(2) {
  width: 100% !important;
}
.question-enrollment header .col-item:nth-child(2) {
  width: 50% !important;
}
.question-enrollment header .col-item .info-details p {
  margin: 0;
  font-size: 17px;
  color: #000;
  line-height: 24px;
}
.question-enrollment header .info-details p {
  color: #d9534f !important;
  font-size: 17px !important;
}
.question-enrollment header .flex-div {
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
}
.question-enrollment header .flex-div .info-details {
  text-align: center;
}
.question-enrollment header .col-item .info-details ul {
  margin: 20px auto 0px;
  padding: 0;
  display: block;
}
.question-enrollment header .col-item .info-details ul li {
  list-style: none;
  font-size: 17px;
  color: #000;
  margin-bottom: 5px;
}
.question-enrollment header .col-item .info-details ul li a {
  color: #000;
  text-decoration: none;
  transition: 0.5s all ease-in-out;
}

.question-enrollment header .col-item .info-details ul li span,
.question-enrollment header .col-item .info-details ul li a span {
  font-weight: 700;
  color: #207ac7;
  margin-right: 5px;
}
.question-enrollment header {
  background: #fff;
  border-bottom: 0px solid #207ac7;
}

.question-enrollment header .flex-div .col-item {
  width: 50%;
}
.question-enrollment .bracket {
  font-size: 13px !important;
  color: #000;
  font-style: italic;
  margin: 0px auto 0px;
  display: block;
  text-transform: initial;
}
.question-enrollment .page-title h1 {
  margin-top: 0px;
  text-align: center;
  color: #d9534f;
  font-size: 30px;
  text-transform: uppercase;
  max-width: max-content;
  margin: 0 auto;
  position: relative;
  padding: 0px 0px 15px;
}
.question-enrollment .page-title h1::after {
  position: absolute;
  bottom: 0px;
  border-bottom: 5px solid #d9534f;
  width: 20%;
  height: 5px;
  content: "";
  left: 0;
  right: 0;
  margin: 0 auto;
}
.question-enrollment .content {
  border: 3px solid #fff;
  padding: 20px;
  background: #fff;
  margin: 0px auto;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.question-enrollment .inner-main-title h2 {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  color: #d9534f;
  position: relative;
  padding: 0px 0px 15px;
  margin: 0 auto 29px;
  font-weight: bold;
}
.question-enrollment .inner-main-title h2::after {
  position: absolute;
  bottom: 0px;
  border-bottom: 5px solid #d9534f;
  width: 10%;
  height: 5px;
  content: "";
  left: 0;
  right: 0;
  margin: 0 auto;
}
.footer-section {
  margin: 10px auto 0px;
  box-shadow: 0px -8px 10px 0px #ccc;
  padding: 20px 20px;
}
.footer-section .flex-div {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
}
.footer-section .flex-div .col-item {
  flex: auto;
  width: auto !important;
}
.footer-section .flex-div .col-item p {
  margin: 0;
  font-size: 14px;
  color: #000;
}
.footer-section .flex-div .col-item p a {
  color: #207ac7;
  text-decoration: none;
  font-weight: 600;
}
.footer-section .flex-div .col-item:nth-child(2) p {
  text-align: right;
}

/*================common css end=======================*/
.question-enrollment .col-title {
  margin: 0px auto 15px;
}
.question-enrollment .col-title h3 {
  font-size: 17px;
  margin: 0px;
  font-weight: bold;
  color: #207ac7;
  text-transform: uppercase;
}

.question-enrollment table {
  width: 100%;
  border-collapse: collapse;
}
.question-enrollment table tr th {
  font-weight: bold;
  color: #fff;
  background: #207ac7;
  border: 2px solid #4799e0;
  font-size: 16px;
}
.question-enrollment table tr th,
table tr td {
  border: 2px solid #207ac7;
  padding: 10px 10px;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
}
.question-enrollment table tr td .flex-div {
  justify-content: center;
  display: flex;
  align-items: center;
  column-gap: 5px;
  text-align: left;
  flex-direction: column-reverse;
  row-gap: 5px;
}

.question-enrollment table tr td .flex-div {
  text-align: center;
}

.question-enrollment table tr th {
  text-transform: uppercase;
}
.question-enrollment table tr td input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}
.question-enrollment table tr td:nth-child(1) {
  width: 40%;
}
.question-enrollment .input-area {
  display: flex;
}

.question-enrollment .signature-box.flex-div {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
  max-width: 580px;
}
.question-enrollment .signature-box.flex-div .col-item:nth-child(2) input {
  max-width: min-content;
  padding: 0px 15px;
}
.author-signature .flex-div .col-item:nth-child(2) input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #207ac7;
  margin-bottom: 10px;
}
.question-enrollment .signature-box.flex-div .col-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.question-enrollment .signature-box.flex-div .col-item input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #207ac7;
  margin-bottom: 0px;
}
.question-enrollment .signature-box.flex-div .col-item:nth-child(2) input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #207ac7;
  margin-bottom: 0px;
}
.question-enrollment .desc-text p {
  font-weight: 700;
  font-size: 17px;
  color: #000;
}
.question-enrollment .signature-box.flex-div .col-item span label {
  font-weight: 700;
  font-size: 17px;
  color: #000;
}

.question-enrollment .select-area {
  display: flex;
  width: 100%;
  max-width: 170px;
  margin: 0 auto;
}
.question-enrollment .select-area span {
  flex: auto;
}
.question-enrollment .select-area span input {
  width: auto !important;
}
.question-enrollment .select-area span label {
  font-weight: 600;
  font-size: 16px;
}
.question-enrollment .section_3 table tr td:nth-child(1) {
  width: 230px;
}
.question-enrollment .section_3 table tr td input[type="date"] {
  text-align: center;
}

.question-enrollment .questions-answer-box h3 {
  color: #d9534f;
  font-size: 17px;
  margin: 0px;
  font-weight: bold;
  text-transform: uppercase;
}
.question-enrollment .questions-answer-box h4 {
  color: #207ac7;
  font-size: 17px;
  margin: 10px auto -1px;
  font-weight: 600;
}
.question-enrollment .questions-answer-box ul {
  margin: 0;
  padding: 0;
}
.question-enrollment .questions-answer-box ul li {
  list-style: none;
  margin: 10px 10px 0px 0px;
  float: left;
  display: flex;
  width: auto;
  align-items: center;
}
.question-enrollment .questions-answer-box input,
.question-enrollment .questions-answer-box textarea {
  border: none;
  outline: none;
  font-size: 15px;
  color: #333;
}
.question-enrollment .questions-answer-box ul li label {
  color: #d9534f;
  font-weight: 600;
  font-size: 15px;
  padding-left: 5px;
  text-transform: initial;
  font-style: italic;
}

.question-enrollment .questions-answer-box .inner {
  clear: both;
  margin: 10px auto 0px;
  display: block;
  float: left;
  width: 100%;
}
.question-enrollment .questions-answer-box .inner label {
  color: #d9534f;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
}
.question-enrollment .questions-answer-box {
  display: inline-block;
}

.question-enrollment .questions-answer-box .textarea-box textarea {
  width: 100%;
  border: 2px solid #207ac7;
  margin: 10px auto 0px;
  padding: 10px;
}

.question-enrollment .questions-answer-box .question-box {
  display: inline-block;
  width: 100%;
}

.file {
  position: relative;
  height: 30px;
  width: auto;
  cursor: pointer;
  max-width: 100px;
  margin-top: 8px;
}

.file > input[type="file"] {
  /* position: absoulte; */
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.file > label {
  position: absolute;
  /* top: 0; */
  right: 0;
  left: 0;
  bottom: 0;
  background: #24d8b7;
  color: #fff;
  border-radius: 7px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  padding: 3px 9px;
  border-radius: 7px;
  margin-right: 5px;
  text-decoration: none;
  transition: 0.5s all ease-in-out;
  min-width: 90px;
  cursor: pointer;
}
.file > label:hover {
  color: #050404 !important;
}

.section_5 table tr td {
  width: 25%;
}
.section_5 table tr td:nth-child(1) {
  width: 25%;
}

@media only screen and (max-width: 991px) {
  .question-enrollment .footer-section .flex-div {
    flex-direction: column;
    display: flex;
  }

  .question-enrollment .inner-main-title h2 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    color: #d9534f;
    position: relative;
    padding: 0px 0px 15px;
    margin: 0 auto 29px;
  }

  .question-enrollment .footer-section .flex-div .col-item {
    flex: auto;
    width: 100% !important;
    text-align: center;
  }
  .question-enrollment .footer-section .flex-div .col-item:nth-child(2) p {
    text-align: center;
  }
  .question-enrollment .footer-section .flex-div {
    flex-direction: column;
    row-gap: 10px;
  }
  .question-enrollment .footer-section {
    margin: 40px auto 0px;
    box-shadow: 0px -8px 10px 0px #ccc;
    padding: 20px 20px 0px;
  }
  section {
    overflow: auto;
  }
}

@media only screen and (max-width: 768px) {
  .file > label {
    cursor: pointer;
    padding: 3px 9px;
    border-radius: 7px;
    margin-right: 3px;
    text-decoration: none;
    min-width: auto;
    line-height: 22px;
  }
  .question-enrollment header .flex-div {
    flex-direction: column;
  }
  .question-enrollment table tr td .flex-div {
    row-gap: 10px;
  }
  .section_2 tr td,
  .section_5 tr td {
    padding: 15px 10px !important;
  }
  .question-enrollment header .flex-div .col-item {
    width: 100%;
  }
  .question-enrollment header .logo img {
    max-width: 250px;
  }
  .question-enrollment header .col-item:nth-child(2) {
    width: 100% !important;
  }
  .question-enrollment header .info-details p {
    font-size: 14px !important;
  }
  .question-enrollment header .col-item .info-details ul li {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .question-enrollment .inner-main-title h2 {
    font-size: 17px;
    padding: 0px 0px 15px;
    margin: 0 auto 15px;
  }
  .question-enrollment .col-title h3 {
    font-size: 14px;
    font-weight: bold;
    color: #207ac7;
    text-transform: uppercase;
    text-align: center;
  }
  .question-enrollment table tr th {
    font-size: 14px !important;
  }
  .question-enrollment header .col-item h1 {
    font-size: 18px;
  }
  .question-enrollment .page-title h1 {
    font-size: 17px;
    padding: 0px 0px 10px;
  }
  .question-enrollment .page-title h1::after {
    border-bottom: 4px solid #d9534f;
    height: 4px;
  }
  .question-enrollment .section_2 p {
    line-height: 25px;
    font-size: 14px;
    color: #000;
    text-align: center;
  }
  .question-enrollment .page-title {
    margin: 0px auto 20px;
  }
  .question-enrollment th,
  .question-enrollment td {
    padding: 3px !important;
    font-size: 13px !important;
  }
  .question-enrollment .desc-text p {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
  }
  .question-enrollment .box textarea {
    max-height: 70px;
  }
  .question-enrollment .content {
    padding: 20px 10px;
  }
  .question-enrollment .footer-section .flex-div .col-item p {
    text-align: center !important;
  }
  .question-enrollment .footer-section .flex-div {
    row-gap: 10px;
  }
  .question-enrollment .questions-answer-box h4 {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }
  .question-enrollment .questions-answer-box h3 {
    font-size: 15px;
    text-align: center;
  }
  .question-enrollment .questions-answer-box .inner label {
    color: #000;
    font-size: 14px;
    font-weight: 700;
  }
  .question-enrollment {
    padding: 20px 10px;
  }
  .question-enrollment .col-item {
    overflow: auto;
  }
  .question-enrollment .questions-answer-box ul {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .question-enrollment .questions-answer-box ul li label {
    margin-bottom: 0px;
  }
  .question-enrollment .questions-answer-box .inner label {
    text-align: center;
    display: block;
    margin-bottom: 0px;
  }
  .question-enrollment .questions-answer-box .inner label + br {
    display: none;
  }
  .section_4.mb_30 {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 500px) {
  .question-enrollment .signature-box.flex-div {
    flex-direction: column;
    row-gap: 20px;
  }
  .question-enrollment .signature-box.flex-div .col-item span label {
    font-weight: 700;
    font-size: 14px;
  }
  .question-enrollment .content {
    overflow: auto;
  }
}

/* AUTHORIZATION FOR USE OF SIGNATURE */
.author-signature {
  width: 100%;
  max-width: 1240px;
  display: block;
  margin: 0 auto;
  padding: 30px 20px;
  /* background: #207ac7; */
}
.author-signature input {
  outline: none;
  font-size: 16px;
}
.author-signature .content .inner-content {
  width: 100%;
  max-width: 870px;
  margin: 0 auto;
}
.author-signature header {
  background: #fff;
  border-bottom: 0px solid #207ac7;
  padding: 20px;
}
.author-signature header .logo {
  margin: 0 auto;
  text-align: center;
  display: block;
  padding: 20px 0px 0px;
}
.author-signature header .logo img {
  width: 100%;
  max-width: 230px;
}

.author-signature table input {
  border: none;
  min-height: 130px;
}
.author-signature table {
  width: 100%;
  border-collapse: collapse;
}
.author-signature .bracket {
  font-size: 14px;
  color: #d9534f;
}
.author-signature table tr th,
.author-signature table tr td {
  border: 2px solid #207ac7;
  padding: 7px 10px;
}
.author-signature table tr th input,
.author-signature table tr td input {
  width: 100%;
}

.author-signature table tr th {
  font-weight: bold;
  color: #fff;
  background: #207ac7;
  border: 2px solid #4799e0;
  font-size: 16px;
}
.author-signature .page-title h1 {
  margin-top: 0px;
  text-align: center;
  color: #d9534f;
  font-size: 30px;
  text-transform: uppercase;
  max-width: max-content;
  margin: 0 auto 30px;
  position: relative;
  padding: 0px 0px 15px;
  font-weight: bold;
}
.author-signature .page-title h1::after {
  position: absolute;
  bottom: 0px;
  border-bottom: 5px solid #d9534f;
  width: 20%;
  height: 5px;
  content: "";
  left: 0;
  right: 0;
  margin: 0 auto;
}
.author-signature .content {
  border: 3px solid #fff;
  padding: 20px !important;
  background: #fff;
  margin: 0 !important;
}

.author-signature .section_2 p {
  line-height: 40px;
  font-size: 21px;
  color: #000;
}
.author-signature .section_2 p span {
  width: 40%;
  display: inline-block;
}
.author-signature .section_2 p span input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #207ac7;
}
.author-signature .col-item.signature-box {
  width: 100%;
  max-width: 500px;
  text-align: center;
}
.author-signature .flex-div {
  display: flex;
}

.author-signature .footer-section .flex-div .col-item {
  flex: auto;
  width: auto;
}

.author-signature .footer-section .flex-div .col-item p {
  margin: 0;
  font-size: 14px;
}

.author-signature .footer-section .flex-div .col-item p a {
  color: #207ac7;
  text-decoration: none;
  font-weight: 600;
}

.author-signature .footer-section {
  margin: 50px auto 0px;
  box-shadow: 0px -8px 10px 0px #ccc;
  padding: 20px 20px;
}
.author-signature .footer-section .flex-div .col-item {
  flex: auto;
  width: auto !important;
}
.author-signature .footer-section .flex-div .col-item:nth-child(2) p {
  text-align: right;
}

.author-signature .flex-div {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
}
.author-signature .flex-div .col-item {
  width: 50%;
}

.author-signature .flex-div .col-item:nth-child(2) {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.author-signature .section_2 .flex-div {
  align-items: center;
}
.author-signature .flex-div .col-item:nth-child(2) input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #207ac7;
  margin-bottom: 10px;
}
.author-signature .flex-div .col-item:nth-child(2) label {
  width: 100%;
  font-weight: bold;
}

@media only screen and (max-width: 991px) {
  .author-signature .footer-section .flex-div {
    flex-direction: column;
  }
  .author-signature .footer-section .flex-div .col-item {
    flex: auto;
    width: 100% !important;
    text-align: center;
  }
  .author-signature .footer-section .flex-div .col-item:nth-child(2) p {
    text-align: center;
  }
  .author-signature .footer-section .flex-div {
    flex-direction: column;
    row-gap: 10px;
  }
  .author-signature .footer-section {
    margin: 40px auto 0px;
    box-shadow: 0px -8px 10px 0px #ccc;
    padding: 20px 20px 0px;
  }
}

@media only screen and (max-width: 768px) {
  .author-signature .mb_40 {
    margin-bottom: 30px;
  }
  .author-signature .page-title h1 {
    font-size: 17px;
    padding: 0px 0px 10px;
  }
  .author-signature .page-title h1::after {
    border-bottom: 4px solid #d9534f;
    height: 4px;
  }
  .author-signature .section_2 p {
    line-height: 25px;
    font-size: 14px;
    color: #000;
    text-align: center;
  }
  .author-signature .section_2 .flex-div {
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
  }
  .author-signature .section_2 .flex-div .col-item {
    width: 100%;
    max-width: 500px;
  }

  .author-signature .page-title {
    margin: 0px auto 20px;
  }
  .author-signature th,
  .author-signature td {
    padding: 3px !important;
    font-size: 14px !important;
  }

  .author-signature section .input-area label {
    font-size: 14px;
  }

  .author-signature .box textarea {
    max-height: 70px;
  }
  .author-signature .content {
    padding: 20px 10px;
  }

  .author-signature .footer-section .flex-div .col-item p {
    text-align: center !important;
  }
  .author-signature .footer-section .flex-div {
    row-gap: 10px;
  }
  .author-signature .section_3 table tr th:nth-last-child(1) {
    width: auto;
  }
  .author-signature {
    padding: 5px 5px;
  }
  .author-signature .content {
    padding: 20px 5px;
  }
  .author-signature .flex-div table td span input {
    max-width: 45px;
    padding: 1px 0px;
  }
}

/* Authorization Payment */
.auto-payment-form ul {
  padding: 0;
  margin: 0;
}
.auto-payment-form {
  width: 100%;
  max-width: 1240px;
  display: block;
  margin: 0 auto;
}
.auto-payment-form header {
  background: #fff;
}
.auto-payment-form header .logo {
  margin: 0 auto;
  text-align: center;
  display: block;
  padding: 20px 0px 0px;
}
.auto-payment-form header .logo img {
  width: 100%;
  max-width: 400px;
}

.auto-payment-form header .flex-div {
  align-items: center;
}
.auto-payment-form header .col-item h1 {
  font-size: 28px;
  text-align: center;
  color: #207ac7;
  margin-bottom: 5px;
  font-weight: bold;
}
.auto-payment-form header .col-item:nth-child(2) {
  width: 100% !important;
}
.auto-payment-form header .col-item:nth-child(2) {
  width: 100% !important;
}
.auto-payment-form header .col-item .info-details p {
  margin: 0;
  font-size: 17px;
  color: #000;
  line-height: 24px;
}
.auto-payment-form header .info-details p {
  color: #d9534f !important;
  font-size: 17px !important;
}
.auto-payment-form header .flex-div {
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}
.auto-payment-form header .col-item .info-details ul {
  margin: 20px auto 0px;
  padding: 0;
  display: block;
}
.auto-payment-form header .col-item .info-details ul li {
  list-style: none;
  font-size: 17px;
  color: #000;
  margin-bottom: 5px;
}
.auto-payment-form header .col-item .info-details ul li a {
  color: #000;
  text-decoration: none;
  transition: 0.5s all ease-in-out;
}

.auto-payment-form header .col-item .info-details ul li span,
.auto-payment-form header .col-item .info-details ul li a span {
  font-weight: 700;
  color: #207ac7;
  margin-right: 5px;
}
.auto-payment-form header {
  background: #fff;
  border-bottom: 0px solid #207ac7;
}

.auto-payment-form .bracket {
  font-size: 13px !important;
  color: #d9534f;
  font-style: italic;
  display: inline;
}
.auto-payment-form .page-title h1 {
  margin-top: 0px;
  text-align: center;
  color: #d9534f;
  font-size: 30px;
  text-transform: uppercase;
  max-width: max-content;
  margin: 0 auto;
  position: relative;
  padding: 0px 0px 15px;
}
.auto-payment-form .page-title h1::after {
  position: absolute;
  bottom: 0px;
  border-bottom: 5px solid #d9534f;
  width: 20%;
  height: 5px;
  content: "";
  left: 0;
  right: 0;
  margin: 0 auto;
}
.auto-payment-form .content {
  border: 3px solid #fff;
  padding: 20px;
  background: #fff;
  margin-top: 0px;
}
.auto-payment-form .section_2 p {
  line-height: 30px;
  font-size: 17px;
  color: #000;
}
.auto-payment-form .section_2 p span {
  width: 40%;
  display: inline-block;
}
.auto-payment-form .section_2 p span input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #207ac7;
}
.auto-payment-form .col-item.signature-box {
  width: 100%;
  max-width: 500px;
  text-align: center;
}
.auto-payment-form .flex-div {
  display: flex;
}

.auto-payment-form .footer-section .flex-div .col-item {
  flex: auto;
  width: auto;
}

.auto-payment-form .footer-section .flex-div .col-item p {
  margin: 0;
  font-size: 14px;
}

.auto-payment-form .footer-section .flex-div .col-item p a {
  color: #207ac7;
  text-decoration: none;
  font-weight: 600;
}

.auto-payment-form .footer-section {
  margin: 50px auto 0px;
  box-shadow: 0px -8px 10px 0px #ccc;
  padding: 20px 20px;
}
.auto-payment-form .footer-section .flex-div .col-item {
  flex: auto;
  width: auto !important;
}
.auto-payment-form .footer-section .flex-div .col-item:nth-child(2) p {
  text-align: right;
}

.auto-payment-form .flex-div {
  display: flex;
  column-gap: 15px;
  justify-content: space-between;
}
.auto-payment-form .flex-div .col-item {
  width: 100%;
}
.auto-payment-form .flex-div .col-item:nth-child(2) {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.auto-payment-form .section_2 .flex-div {
  align-items: center;
}
.auto-payment-form .flex-div .col-item:nth-child(2) input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #207ac7;
  margin-bottom: 10px;
}

.auto-payment-form .content .col-item .col-title {
  margin: 0px auto 15px;
}
.auto-payment-form .content .col-item .col-title h3 {
  font-size: 17px;
  margin: 0px;
  font-weight: bold;
  color: #207ac7;
  text-transform: uppercase;
}

.auto-payment-form .content .col-item ul.flex-area {
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 15px;
  row-gap: 15px;
  justify-content: space-between;
}

.auto-payment-form .content .col-item ul li {
  list-style: none;
  flex: auto;
}
.auto-payment-form .content .col-item ul li label {
  font-weight: bold;
  font-size: 14px;
  color: #207ac7;
}
.auto-payment-form .content .col-item ul .input-area {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.auto-payment-form .content .col-item ul .input-area span {
  flex: auto;
}

.auto-payment-form .content .col-item ul .input-area span:nth-child(1) {
  max-width: max-content;
}
.auto-payment-form .content .col-item ul .input-area span input {
  width: 100%;
  border: 2px solid #207ac7;
  margin-left: 0;
  max-width: 100%;
  box-sizing: border-box;
}
.auto-payment-form .section_1 ul li:nth-child(1) {
  width: 100%;
}
.auto-payment-form .section_2 .payment-option img {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}
.auto-payment-form .content .col-item ul li input {
  padding: 3px 5px;
  font-size: 14px;
  color: #000;
  min-height: auto;
}
.auto-payment-form .box-bg {
  padding: 40px 0px 20px;
}
.auto-payment-form .inner-main-title h2 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  color: #d9534f;
  position: relative;
  padding: 0px 0px 15px;
  margin: 0 auto 29px;
}

.auto-payment-form section .col-item {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
}
.auto-payment-form section .col-item:nth-child(1) {
  width: 100%;
  max-width: 620px;
}
.section_3 .col-item {
  width: 100% !important;
  max-width: 100% !important;
}
.auto-payment-form .inner-main-title h2 {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  color: #d9534f;
  position: relative;
  padding: 0px 0px 15px;
  margin: 0 auto 29px;
  font-weight: bold;
}
.auto-payment-form .inner-main-title h2::after {
  position: absolute;
  bottom: 0px;
  border-bottom: 5px solid #d9534f;
  width: 10%;
  height: 5px;
  content: "";
  left: 0;
  right: 0;
  margin: 0 auto;
}
.auto-payment-form .section_1 ul.first li:nth-child(1) {
  width: 100%;
}
.auto-payment-form .section_1 .flex-area li:nth-child(1) {
  width: 40%;
}

.auto-payment-form .content .section_2 .col-item ul .input-area {
  display: flex;
  flex-direction: column;
}
.auto-payment-form .content .col-item ul.flex-area:nth-child(2) {
  flex-direction: column;
}
.auto-payment-form .section_2 ul li {
  margin: 0px auto 15px;
}
.auto-payment-form .content .col-item ul li span:nth-child(1) {
  margin: 0px 0 6px;
}

.auto-payment-form .section_3 .col-item {
  width: 100%;
  max-width: 100%;
  text-align: justify;
}
.auto-payment-form .section_2 .payment-option {
  margin: 0 auto 20px;
  display: block;
  text-align: center;
}
.auto-payment-form .section_3 .col-item p span {
  font-weight: 600;
  color: #d9534f;
}
.auto-payment-form .section_2 {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
}

/*----------------bottom button css start................*/
.auto-payment-form .section_bottom {
  margin: 60px auto 0px;
}

.auto-payment-form label,
.auto-payment-form h3 {
  font-size: 17px;
  margin: 0px;
  font-weight: bold;
}

.auto-payment-form .section_bottom .flex-div.button-row {
  margin: 30px auto 0px;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}
.auto-payment-form .section_bottom .flex-div.button-row div {
  flex: auto;
  max-width: max-content;
  width: auto;
}

.auto-payment-form .section_bottom .flex-div.button-row div a {
  padding: 11px 20px;
  font-size: 17px;
  display: block;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #ddd;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.auto-payment-form .section_bottom .flex-div.button-row div a i.fas {
  margin-right: 6px;
}
.auto-payment-form .section_bottom .mark-sign a {
  background: #5cb85c;
  color: #fff !important;
}
.auto-payment-form .section_bottom .flex-div.button-row div.cancel a {
  background: #d9534f;
  color: #fff;
}

.auto-payment-form
  .section_bottom
  .flex-div:nth-child(1)
  .col-item:nth-last-child(1) {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 991px) {
  .auto-payment-form .footer-section .flex-div {
    flex-direction: column;
    display: flex;
  }
  .auto-payment-form .flex-div .col-item {
    width: 100%;
  }
  .auto-payment-form .box-bg {
    padding: 0px 0px 0px;
  }
  .auto-payment-form .content .col-item ul.flex-area {
    flex-direction: column;
  }
  .auto-payment-form header .logo img {
    width: 100%;
    max-width: 250px;
  }

  .auto-payment-form .inner-main-title h2 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    color: #d9534f;
    position: relative;
    padding: 0px 0px 15px;
    margin: 0 auto 29px;
  }

  .auto-payment-form .footer-section .flex-div .col-item {
    flex: auto;
    width: 100% !important;
    text-align: center;
  }
  .auto-payment-form .footer-section .flex-div .col-item:nth-child(2) p {
    text-align: center;
  }
  .auto-payment-form .footer-section .flex-div {
    flex-direction: column;
    row-gap: 10px;
  }
  .auto-payment-form .footer-section {
    margin: 40px auto 0px;
    box-shadow: 0px -8px 10px 0px #ccc;
    padding: 20px 20px 0px;
  }
  .auto-payment-form .section_1 .flex-area li:nth-child(1) {
    width: 100% !important;
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .auto-payment-form .section_1 ul.first li:nth-child(1) {
    width: 100%;
  }
  .auto-payment-form .flex-div .col-item:nth-child(2) {
    width: 100% !important;
    max-width: 100% !important;
  }
  .auto-payment-form .section_1 ul.first li {
    width: 100% !important;
  }
  .auto-payment-form .content .col-item ul .input-area {
    flex-direction: column;
  }
  .auto-payment-form section .col-item {
    max-width: 96%;
  }

  .auto-payment-form header .col-item h1 {
    font-size: 18px;
  }
  .auto-payment-form .flex-div {
    column-gap: 20px;
    flex-direction: column;
    margin: 0px 10px !important;
  }
  .auto-payment-form .section_1 .flex-area li:nth-child(1) {
    width: 100%;
  }
  .auto-payment-form .content .col-item ul .input-area span input[type="date"] {
    max-width: max-content;
  }
  .auto-payment-form .content .col-item ul .input-area span input {
    margin-left: 0;
  }
  .auto-payment-form header .col-item:nth-child(2) {
    width: 50% !important;
  }
  .auto-payment-form .mb_40 {
    margin-bottom: 30px;
  }
  .auto-payment-form .page-title h1 {
    font-size: 17px;
    padding: 0px 0px 10px;
  }
  .auto-payment-form .page-title h1::after {
    border-bottom: 4px solid #d9534f;
    height: 4px;
  }
  .auto-payment-form .section_2 p {
    line-height: 25px;
    font-size: 14px;
    color: #000;
    text-align: center;
  }
  .auto-payment-form .section_2 .flex-div {
    align-items: center;
    flex-direction: column;
  }
  .auto-payment-form .section_2 .flex-div .col-item {
    width: 100%;
    max-width: 500px;
  }

  .auto-payment-form .page-title {
    margin: 0px auto 20px;
  }
  .auto-payment-form th,
  .auto-payment-form td {
    padding: 3px !important;
    font-size: 14px !important;
  }

  .auto-payment-form .box textarea {
    max-height: 70px;
  }
  .auto-payment-form .content {
    padding: 20px 10px;
  }
  .auto-payment-form .footer-section .flex-div .col-item p {
    text-align: center !important;
  }
  .auto-payment-form .footer-section .flex-div {
    row-gap: 10px;
  }

  .auto-payment-form {
    padding: 10px;
    background: #207ac7;
  }
  .auto-payment-form .content {
    padding: 20px 5px;
  }
  .auto-payment-form .section_2 ul.flex-div {
    flex-direction: row;

    margin: 0;
  }
  .auto-payment-form .section_3 .col-item {
    text-align: center;
    padding: 0px 10px;
  }
  .auto-payment-form .section_3 .col-item p {
    font-size: 14px;
    line-height: 24px;
  }

  .auto-payment-form .section_3 .col-item p span {
    display: block;
  }
  .auto-payment-form .content .col-item ul.flex-area {
    justify-content: space-between;
    flex-direction: row;
  }
  .auto-payment-form .content .col-item ul.flex-area li {
    width: auto;
  }
  .auto-payment-form .section_1 .flex-area li:nth-child(1) {
    width: 100% !important;
    max-width: 100%;
  }
  .auto-payment-form .content .col-item ul .input-area span input[type="date"] {
    max-width: 100%;
  }
  .auto-payment-form .section_bottom .flex-div.button-row {
    flex-direction: row;
  }
  .auto-payment-form .section_bottom .flex-div.button-row {
    flex-direction: row;
    justify-content: center;
    row-gap: 15px;
  }
  .auto-payment-form .section_bottom .flex-div.button-row div a {
    padding: 10px 14px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 580px) {
  .auto-payment-form .section_2 ul.flex-div {
    flex-wrap: wrap;
    margin: 0 !important;
  }

  .auto-payment-form .flex-div {
    width: 100% !important;
  }
  .auto-payment-form .section_2 ul.flex-div li {
    margin: 0 0 15px !important;
    width: 100%;
  }
  .section_2 .flex-div {
    width: 100% !important;
  }
  .auto-payment-form .flex-div {
    margin: 0px 0px !important;
  }
  .auto-payment-form .content .col-item ul.flex-area {
    justify-content: space-between;
    flex-direction: column;
  }
  .auto-payment-form .section_2 ul.flex-div {
    width: 100%;
    padding: 0;
    margin: 0 !important;
  }
  .auto-payment-form .content .col-item ul .input-area span input[type="date"] {
    max-width: 100%;
  }
}

/* progress-bar */

.card {
  /* z-index: 0; */
  /* position: relative; */
  border: none;
}

.form-card {
  text-align: left;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

fieldset {
  border: none !important;
}

#msform .action-button,
#msform .action-button-previous {
  width: 100px;
  font-weight: bold;
  color: white;
  border: 0 none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 15px 0px 10px 5px;
  float: right;
  border-radius: 5px;
}

#msform .action-button {
  background: #207ac7;
}

#msform .action-button-previous {
  background: #616161;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
  text-align: center;
}

#progressbar .active {
  color: #207ac7;
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 20%;
  float: left;
  position: relative;
  font-weight: 400;
  z-index: 0;
}

#progressbar #account:before {
  font-family: FontAwesome;
  content: "\f007";
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f007";
}

#progressbar #payment:before {
  font-family: FontAwesome;
  content: "\f030";
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c";
}

#progressbar #payment:before {
  font-family: FontAwesome;
  content: "\f00c";
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #207ac7;
}

.fit-image {
  width: 100%;
  object-fit: cover;
}
